body{
	background-color: #20232B;
	color: #D8DBE2;
	padding: 1rem;
}
header{
	background-color: #7C869D;
	color: #D8DBE2;
}
header a{ 
	color: #D8DBE2;
}
article{
	background-color:#272B34;
}
button {
	background-color: #D8DBE2;
	color: #20232B;
}
.warn{
	background-color: yellow;
}
.end {
	background-color: red;
}
#bad_prompt{
	color:floralwhite;
}
footer{
	background-color: #7C869D;
	color: #D8DBE2;
}
footer a{ 
	color: #D8DBE2;
}

.sektor-warning{
	fill: #ffc107;
}

.sektor-end{
	fill: #dc3545;
}