body{
	background-color:#372D29;
	padding: 1rem;
	color: #C7B9AE;
}
header{
	background-color: #413632;
	color: #413632;
}
header a{ 
	color: #BA945F;
}
article{
	background-color:#413632;
	box-shadow: .5rem .5rem 1rem #BA945F80;  
}
.warn{
	background-color: yellow;
}
.end {
	background-color: red;
}
#bad_prompt{
	color:#C7B9AE;
}
footer{
	background-color: #413632;
	color: #BA945F;
}
footer a{ 
	color: #BA945F;
}