article{
	margin: 2rem  3rem 0 1rem;
	padding: 1rem;
	max-width:991.98px; 
}
article h2, article h3{
	text-align:center;
}

article blockquote{
	margin: 0rem  8% 0 8%;
}

p{
	margin: 1rem 4% 1rem 4%;
}
button{
	font-size: 1.2rem;
}
nav{
	margin: 1rem 8% 1rem 0;
	text-align: right;
}
nav#nav_source{
	display: none;
}
.ad{
	text-align: center;
}
footer{
	margin-top: 10rem;
}

#bad_prompt{
	text-align: center;
	font-size: .7rem;
}